{
    "NODE_END": "prod",
    "LOG_LEVEL": "warn",
    "AWS_ID": "",
    "AWS_SECRET": "",
    "COGNITO_REGION": "ap-south-1",
    "COGNITO_CLIENT_ID": "",
    "COGNITO_USER_POOL_ID": "",
    "DYNAMODB_REGION": "ap-south-1",
    "DYNAMODB_NOTES_TABLE": "notes-app-user-notes",
    "S3_REGION": "ap-south-1",
    "S3_BUCKET": "notes-app-media-store",
    "MEDIA_CDN_URL_PREFIX": "",
    "SQS_REGION": "ap-south-1",
    "SQS_URL": "",
    "SQS_MESSAGE_VISIBILITY_TIMEOUT_SECONDS":"60",
    "MAX_BATCH_CREATE_NOTE_COUNT":"25",
    "MAX_BATCH_UPDATE_NOTE_COUNT":"25",
    "MAX_BATCH_DELETE_NOTE_COUNT":"25",
    "MAX_BATCH_ADD_MEDIAS_COUNT":"25",
    "MAX_BATCH_REMOVE_MEDIAS_COUNT":"25",
    "MAX_ALLOWED_MEDIAS_PER_NOTE":"5",
    "MAX_ALLOWED_MEDIAS_SIZE_BYTES":"10485760"
}